<header class="header">
  <div class="header__logo">
    <a [routerLink]="['/']">
      <img class="header__logo-image" src="../../../../assets/images/logo.png" alt="company logo">
    </a>
    <span class="header__logo-text">Siste App</span>
  </div>
  <nav class="header__nav">
    <ul class="group-list">
      <li *ngFor="let option of options" class="group-list-item">
        <a
          class="group-list-item-a"
          [routerLink]="['/' + option.url]"
          routerLinkActive="active"
        >
          {{ option.name }}
        </a>
      </li>
    </ul>
  </nav>
</header>
