.header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;

    &-image {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    &-text {
      font-size: 1.5rem;
    }
  }

  &__nav {
    .group-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 0 30px;
    }

    .group-list-item {
      list-style: none;
    }

    .group-list-item-a {
      text-decoration: none;
      color: #978a8a;

      &:hover {
        text-shadow: 1px 5px 6px rgb(90, 109, 164);
      }

      &.active {
        color: #ffffff;
        text-shadow: 1px 5px 6px rgba(207, 193, 193, 0.574);
      }
    }
  }
}
