<ul class="products">
  <li *ngFor="let product of products" class="products__item">
    <h2 class="products__item__name">{{ product.name }}</h2>
    <p class="products__item__description">{{ product.description }}</p>
    <p class="products__item__price">
      {{ product.price | currency }}
    </p>
    <div class="products__item__buttons-container">
      <button
        class="products__item__delete-button"
        type="button"
        (click)="deleteProduct(product.id)"
      >
        Delete
      </button>
      <button
        class="products__item__edit-button"
        type="button"
        (click)="editProduct(product.id)"
      >
        Edit
      </button>
    </div>
  </li>
</ul>
