<div class="new-product-form">
  <ng-container *ngIf="editedProduct.id; else title">
    <h2 class="new-product-form__title">Update Product</h2>
  </ng-container>
  <ng-template #title>
    <h2 class="new-product-form__title">Add New Product</h2>
  </ng-template>
  <form (ngSubmit)="saveProduct()">
    <label class="new-product-form__label" for="nombre">Name:</label>
    <input
      class="new-product-form__input"
      type="text"
      id="name"
      [(ngModel)]="editedProduct.name"
      name="name"
      minlength="2"
      placeholder="Toy boy"
      #name="ngModel"
      required
    />
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      <p class="text-danger" *ngIf="name?.errors?.['required']">
        Name is required
      </p>
      <p class="text-danger" *ngIf="name?.errors?.['minlength']">
        The name must have a minimum of 2 characters
      </p>
    </div>

    <label class="new-product-form__label" for="descripcion"
      >Description:</label
    >
    <textarea
      class="new-product-form__textarea"
      id="descripcion"
      [(ngModel)]="editedProduct.description"
      name="description"
      placeholder="a big toy boy"
      required
      minlength="2"
      #description="ngModel"
    ></textarea>
    <div
      *ngIf="
        description?.invalid && (description?.dirty || description?.touched)
      "
    >
      <p class="text-danger" *ngIf="description?.errors?.['required']">
        Description is required
      </p>
      <p class="text-danger" *ngIf="description?.errors?.['minlength']">
        The description must have a minimum of 2 characters
      </p>
    </div>

    <label class="new-product-form__label" for="precio">Price:</label>
    <input
      class="new-product-form__input"
      type="number"
      id="price"
      [(ngModel)]="editedProduct.price"
      name="price"
      placeholder="10.00"
      required
      min="1"
      #price="ngModel"
    />
    <div class="new-product-form__container__submit-button">
      <ng-container *ngIf="editedProduct.id; else content">
        <button class="new-product-form__submit-button" type="submit">
          Update Product
        </button>
      </ng-container>
      <ng-template #content>
        <button class="new-product-form__submit-button" type="submit">
          Save Product
        </button>
      </ng-template>
    </div>
  </form>
</div>
