.new-product-form {
  padding: 20px;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  &__container__submit-button{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
  }

  &__submit-button {
    background-color: #2e5671;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2980b9;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    }
  }

  .text-danger{
    color: #d73030;
    font-size: small;
    font-weight: 500;
  }
}
