.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-height: 75vh;
  overflow-y: auto;

  @media screen and (max-width: 768px) {
    max-height: 700px;
    overflow-y: auto;
    gap: 20px;
  }

  &__item {
    position: relative;
    min-width: 270px;
    min-height: 160px;
    flex: 0 0 calc(33.33% - 20px);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }

    &--highlight {
      background-color: #f8f8f8;
    }

    .user-info {
      font-size: 1.1rem;
      margin-top: 10px;
      color: #666;
    }

    &__see-button {
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: #2e5671;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2980b9;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
      }
    }

    strong {
      font-weight: bold;
      margin-right: 5px;
    }
  }
}
