.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-circle {
  width: 15vw;
  height: 15vw;
  border: 1vw solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .spinner-circle {
    width: 30vw;
    height: 30vw;
  }
}
